<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	 <title>Profile Details </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

 	<!-- CSS here -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/slicknav.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/assets/css/themify-icons.css">
		<link rel="stylesheet" href="/assets/css/slick.css">
		<link rel="stylesheet" href="/assets/css/nice-select.css">
		<link rel="stylesheet" href="/assets/css/style.css">
	    <!-- special file -->
	    <link rel="stylesheet" href="/assets/css/login-form.css">
	    <link rel="stylesheet" href="/assets/css/request-style.css">
</head>

<body>

	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="/assets/img/logo/loder.jpg" alt="">
				</div>
			</div>
		</div>
	</div>

    <header>
  </header>
	<main>
    <section class="login-form-area section-bg  pt-115 pb-120 fix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- login wrapper -->
                <div class="col-12">
                    <div class="login-form-wrapper">
                        <!-- From title -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Section Tittle -->
                                <div class="section-tittle mb-50">
                                    <h2>Profile</h2>
                                    <p>The complete User profile</p>
                                </div>
                            </div>
                        </div>
                        <!-- form -->
                        <form autocomplete="off" action="/edit/edit-people" method="post">
                          <input type="hidden" style="width:500px;" name="PID" value="<%=peoples[0].PID%>"   >
                            <table class="table table-striped record">
                              <tr>
                                <td>PID</td>
                                <td><%=peoples[0].PID%></td>
                              </tr>
                              <tr>
                                <td>Full Name</td>
                                <td><input type="text" name="full_name" size="50" placeholder="Full Name" value="<%=peoples[0].full_name%>" required disabled class="editable"></td>
                              </tr>
                              <tr>
                                <td>Phone Number</td>
                                <td>+91 <%=peoples[0].phone_number%></td>
                              </tr>
                              <tr>
                                <td>Blood Group</td>
                                <td>
									<select id="blood_group_select" name="blood_group" required disabled class="editable dis-select">
										<option value="A+">A+</option>
										<option value="AB+">AB+</option>
										<option value="B+">B+</option>
										<option value="O+">O+</option>
										<option value="A-">A-</option>
										<option value="AB-">AB-</option>
										<option value="B-">B-</option>
										<option value="O-">O-</option>
									</select>
									<script>document.getElementById("blood_group_select").value="<%=peoples[0].blood_group%>";</script>
								</td>
                              </tr>
                              <tr>
                                <td>Date Of Birth</td>
                                <td><input type="date" size="10" name="dob" value="<%=peoples[0].DOB.getFullYear()%>-<%=('0'+(peoples[0].DOB.getMonth()+1)).slice(-2)%>-<%=('0'+(peoples[0].DOB.getDate())).slice(-2)%>" required disabled class="editable"></td>
                              </tr>
                              <tr>
                                <td>Gender</td>
                                <td>
								  <input id="gender-male" type="radio" name="gender" value="male" disabled class="editable">
                                  <label for="gender-male" class="mr-50">Male</label>
                                  <input id="gender-female" type="radio" name="gender" value="female" disabled class="editable">
                                  <label for="gender-female">Female</label>
								  <%if(peoples[0].gender=="male"){%>
									  <script>document.getElementById("gender-male").checked = "true";</script>
								  <%}else {%>
									  <script>document.getElementById("gender-female").checked = "true";</script>
								  <%}%>
                                </td>
                              </tr>
                              <tr>
                                <td>Email-ID</td>
                                <td><%=peoples[0].email%></td>
                              </tr>
                              <tr>
                                <td>OTP Verification</td>
                                <td>
                                  <input id="otp-yes" type="radio" name="otp" value="1" disabled class="editable" />
                                  <label for="otp-yes" class="mr-50">Yes</label>
                                  <input id="otp-no" type="radio" name="otp" value="0" disabled class="editable" />
                                  <label for="otp-no">No</label>
								  <%if(peoples[0].verified == 1){%>
									  <script>document.getElementById("otp-yes").checked = "true";</script>
								  <%}else {%>
									  <script>document.getElementById("otp-no").checked = "true";</script>
								  <%}%>
                                </td>
                              </tr>
                              <tr>
                                <td>User Type</td>
                                <td>
								  <input id="user-admin" type="radio" name="user_type" value="admin" disabled class="editable">
                                  <label for="user-admin" class="mr-50">Admin</label>
                                  <input id="user-data-entry" type="radio" name="user_type" value="data-entry" disabled class="editable">
                                  <label for="user-data-entry" class="mr-50">Data-Entry</label>
								  <input id="user-normal" type="radio" name="user_type" value="normal" disabled class="editable">
                                  <label for="user-normal">Normal</label>
								  <%if(peoples[0].user_type == "normal"){%>
									  <script>document.getElementById("user-normal").checked = "true";</script>
								  <%}else if(peoples[0].user_type == "data-entry"){%>
									  <script>document.getElementById("user-data-entry").checked = "true";</script>
								  <%}else {%>
									  <script>document.getElementById("user-admin").checked = "true";</script>
								  <%}%>
                                </td>
                              </tr>
							  <%if(!peoples[0].isdonor) {%>
								  <tr>
									<td rowspan="3">Donor</td>
									<td>Donor Details Not Available</td>
								  </tr>
								  <tr>
									<td>Do you want to add Donor Details?</td>
								  </tr>
								  <tr>
									<td>
										<input id="add-donor-yes" type="radio" name="add_donor" onclick="toggle_class('show-on-add-donor-yes','table-row');toggle_required('set-require',true)" value="1" disabled class="editable" />
	                                    <label for="add-donor-yes" class="mr-50">Yes</label>
	                                    <input id="add-donor-no" type="radio" name="add_donor" onclick="toggle_class('show-on-add-donor-yes','none');toggle_required('set-require',false)" value="0" checked disabled class="editable" />
	                                    <label for="add-donor-no">No</label>
									</td>
								  </tr>
								  <!-- Hide donor details if donor record not available and radio is no -->
								  <style>.show-on-add-donor-yes{ display: none; }</style>
							  <%}%>

                              <tr class="show-on-add-donor-yes">
                                <td>Height</td>
								<%if(peoples[0].isdonor) {%>
                                	<td><input type="text" name="height" size="15" placeholder="Height (in cms)" value="<%=peoples[0].height%>" required disabled class="editable"></td>
								<%} else {%>
									<td><input type="text" name="height" size="15" placeholder="Height (in cms)" value="" disabled class="editable set-require"></td>
								<%}%>
							  </tr>
                              <tr class="show-on-add-donor-yes">
								<td>Weight</td>
								<%if(peoples[0].isdonor) {%>
									<td><input type="text" name="weight" size="15" placeholder="Weight (in kgs)" value="<%=peoples[0].weight%>" required disabled class="editable"></td>
								<%} else {%>
									<td><input type="text" name="weight" size="15" placeholder="Weight (in kgs)" value="" disabled class="editable set-require"></td>
								<%}%>
							  </tr>
                              <tr class="show-on-add-donor-yes">
                                <td>Next Safe Donation</td>
								<%if(peoples[0].isdonor) {%>
                                	<td><input type="date" name="next_donation_date" size="10" value="<%=peoples[0].next_donation_date.getFullYear()%>-<%=('0'+(peoples[0].next_donation_date.getMonth()+1)).slice(-2)%>-<%=('0'+(peoples[0].next_donation_date.getDate())).slice(-2)%>" required disabled class="editable"></td>
								<%} else {%>
									<td><input type="date" name="next_donation_date" size="10" value="" disabled class="editable set-require"></td>
								<%}%>
							  </tr>
                              <tr class="show-on-add-donor-yes">
                                <td>Previous Notified</td>
								<%if(peoples[0].isdonor && peoples[0].previous_sms_date != null) {%>
                                	<td><input type="date" name="previous_sms_date" size="10" value="<%=peoples[0].previous_sms_date.getFullYear()%>-<%=('0'+(peoples[0].previous_sms_date.getMonth()+1)).slice(-2)%>-<%=('0'+(peoples[0].previous_sms_date.getDate())).slice(-2)%>" required disabled class="editable"></td>
								<%} else {%>
									<td><input type="date" name="previous_sms_date" size="10" value="" disabled class="editable"></td>
								<%}%>
							  </tr>
                              <tr>
                                <td>Previous Donations</td>
								<%if(peoples[0].isdonor) {%>
                                	<td><a href = "">link to donations</a></td>
								<%} else {%>
                                	<td>Never Donated</td>
								<%}%>
                              </tr>
							  <tr>
                                <td>Previous Requests</td>
								<%if(peoples[0].isdonor) {%>
                                	<td><a href = "#">link to requests</a></td>
								<%} else {%>
                                	<td>Never Requested</td>
								<%}%>
                              </tr>
                            </table>
							<div class="container">
								<div class="row justify-content-between">
									<button type="button" onclick="edit_btn()" class="genric-btn info circle" id="btn-edit">Edit</button>
									<button type="button" onclick="cancel_btn()" class="genric-btn info" id="btn-cancel">Cancel</button>
									<button type="submit" name="submit" value="update" onclick="return confirm('Do you really want to update?');" class="genric-btn info" id="btn-update">Update</button>
									<button type="submit" name="submit" value="delete" onclick="return confirm('Do you really want to delete?');" class="genric-btn danger" id="btn-delete">Delete</button>
								</div>
							</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	</main>
	<footer>
	</footer>

	<!-- JS here -->
	<!-- header and footer include -->
	<script src="/assets/js/plain-header-admin.txt" language="javascript" type="text/javascript"></script>
	<script src="/assets/js/footer-admin.txt" language="javascript" type="text/javascript"></script>

	<!-- custom script databse changes in this .js files -->
	<script src="/assets/js/record-editor.js"></script>
	<script src="/assets/js/full-request-editor.js"></script>

	<!-- All JS Custom Plugins Link Here here -->
	<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="/assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/animated.headline.js"></script>
	<script src="/assets/js/jquery.magnific-popup.js"></script>

	<!-- Nice-select, sticky -->
	<!-- <script src="/assets/js/jquery.nice-select.min.js"></script> -->
	<!-- <script src="/assets/js/jquery.sticky.js"></script> -->

	<!-- contact js -->
	<script src="/assets/js/contact.js"></script>
	<script src="/assets/js/jquery.form.js"></script>
	<script src="/assets/js/jquery.validate.min.js"></script>
	<script src="/assets/js/mail-script.js"></script>
	<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="/assets/js/plugins.js"></script>
	<script src="/assets/js/main.js"></script>


</body>
</html>
